useDynLib("tau")
export("parse_IETF_language_tag",
       "remove_stopwords",
       "textcnt",
       "is.ascii", "is.utf8", "is.locale", "translate", "fixEncoding",
       "readBytes", "readChars",
       "tokenize",
       "translate_Unicode_latin_ligatures")
S3method("format","textcnt")
